<div class="container-scab">
  <!-- <nav></nav> -->
  <video  autoplay muted loop class="video-bg">
    <source src="../assets/bg.mp4" type="video/mp4">
  </video>
  <header class="header">
    <div class="header__top">
      <img class="logo" src="https://static.wixstatic.com/media/a7ea1a_6507e367bee74a03a8028ee691f515d7~mv2.png/v1/fill/w_768,h_303,al_c,usm_0.66_1.00_0.01/a7ea1a_6507e367bee74a03a8028ee691f515d7~mv2.png" alt="">
    </div>
    <div class="header__bottom">
        <div class="menu-user-btn">
          <i class="fas fa-ellipsis-v"></i>
        </div>
        <div class="menu-user-user"><i class="fas fa-utensils"> </i>     Bienvenido Jusmar Ayma!</div>
    </div>
  </header>
  <section class="section">
    <div class="section__container">
      <h1 class="title-sc"><span>ASISTENCIA</span></h1>
      <div class="input-container-sc">
        <span class="label-input">Ingrese su codigo: </span>
        <div class="input-content">
          <input type="text" name="" id="" placeholder="HQPQWE31">
        </div>
      </div>
      <div class="buttons-container-sc">
        <button>Marcar ingreso</button>
        <button>Marcar salida</button>
      </div>
      <div class="table-container-sc">
        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Tipo de contrato</th>
              <th>Rol</th>
              <th>Codigo</th>
              <th>Hora ingreso</th>
              <th>Hora salida</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Miguel</td>
              <td>CAS</td>
              <td>Chef</td>
              <td>RQWEWQ34</td>
              <td>8:30</td>
              <td>18:30</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="button-container-sc">
         <button>MARCAR</button>
      </div>
      <div class="reloj-container-sc">
        <div class="hora">{{horaReloj}}</div>:
        <div class="minuto">{{minutoReloj}}</div>:
        <div class="segundo">{{segundoReloj}}</div>
      </div>
    </div>
  </section>
</div>