<div class="container-scab">
  <nav class="nav-menu" [ngClass]="{active: menuBoolean}">
    <div class="close-menu" (click)="showMenu()">
      <i class="far fa-times-circle"></i>
    </div>
    <div class="logo-menu">
      <i class="fas fa-utensils"> </i>
    </div>
    <ul class="menu-content">
      <li>
        <a href="">Asistencia</a>
      </li>
      <li>
        <a href="">Perfil</a>
      </li>
      <li>
        <a href="">Salir</a>
      </li>
    </ul>
  </nav>
  <video autoplay muted loop class="video-bg">
    <source src="../assets/bg.mp4" type="video/mp4">
  </video>
  <header class="header">
    <div class="header__top">
      <img class="logo" src="https://static.wixstatic.com/media/a7ea1a_6507e367bee74a03a8028ee691f515d7~mv2.png/v1/fill/w_768,h_303,al_c,usm_0.66_1.00_0.01/a7ea1a_6507e367bee74a03a8028ee691f515d7~mv2.png"
        alt="">
    </div>
    <div class="header__bottom">
      <div class="menu-user-btn" (click)="showMenu()">
        <i class="fas fa-ellipsis-v"></i>
      </div>
      <div class="menu-user-user">
        <i class="fas fa-utensils"> </i> Bienvenido Jusmar Ayma!</div>
    </div>
  </header>
  <section class="section">
    <div class="section__container">
      <div class="reloj-container-sc">
        <div class="hora">{{horaReloj}}</div>:
        <div class="minuto">{{minutoReloj}}</div>:
        <div class="segundo">{{segundoReloj}}</div>
      </div>
      <h1 class="title-sc">
        <span>ASISTENCIA</span>
      </h1>
      <div class="input-container-sc">
        <span class="label-input">Ingrese su codigo: </span>
        <div class="input-content">
          <input type="text" #idInput>
          <!-- <p>{{id}}</p> -->
        </div>
      </div>
      <div class="buttons-container-sc">
        <button (click)="marcarIngreso(idInput.value)">Marcar ingreso</button>
        <button (click)="marcarSalida(idInput.value)">Marcar salida</button>
      </div>
      <div class="table-container-sc">
        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Rol</th>
              <th>Codigo</th>
              <th>Hora ingreso</th>
              <th>Hora salida</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="!dataFake">
              <td>---</td>
              <td>---</td>
              <td>---</td>
              <td>---</td>
              <td>---</td>
            </tr>
            <ng-container *ngIf="dataFake">
              <tr *ngFor="let user of userObj">
                <td>{{user.Nombres}}</td>
                <td>{{user.rolName}}</td>
                <td>{{user.idUsuario}}</td>
                <td>{{user.hInicio}}</td>
                <td>{{user.hSalida}}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <div class="button-container-sc">
        <button (click)="marcarAsistencia()">ACEPTAR</button>
      </div>
    </div>
  </section>
</div>

<div *ngIf="loaderBoolean" class="loader">
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<div *ngIf="messageBoolean" class="message-container">
  <div class="message succ">
    <i class="far fa-smile"></i> {{menssage}}
  </div>
</div>